AutoJTTXServiceUtilities/Connected Services/AutoJTServiceReference/AutoJTService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.autojt.com:8002/AutoJTService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://www.autojt.com:8002/AutoJTService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AutoJTWcfService" />
  <xs:import schemaLocation="http://www.autojt.com:8002/AutoJTService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
  <xs:element name="GetCPPRuntimeUrl">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCPPRuntimeUrlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCPPRuntimeUrlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnionIDNickName4ClientInfos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isInternal" type="xs:boolean" />
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userlnfos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientInfos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientVersion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="softHostVersion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnionIDNickName4ClientInfosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUnionIDNickName4ClientInfosResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="internal_tag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="expiryDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="unionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nickName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="regId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version_desc" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="moduleIDList" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserAuthentication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="unionid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nickName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isInternal" type="xs:boolean" />
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userlnfos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientVersion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="softHostVersion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserAuthenticationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserAuthenticationResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="internal_tag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="expiryDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version_desc" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="moduleIDList" nillable="true" type="q2:ArrayOfstring" />
        <xs:element minOccurs="0" name="regid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nickNameResout" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpgradeNickname">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newNickname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isInternal" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpgradeNicknameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpgradeNicknameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserPaymentData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="unionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="order_number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="combo_meal_code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserPaymentDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserPaymentDataResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="expiry_date" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryAllComboMealInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="unionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryAllComboMealInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryAllComboMealInfoResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="combo_dt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userInfos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUserOwnerVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="unionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="combo_meal_code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUserOwnerVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckUserOwnerVersionResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ouwnerVer" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAllEnableVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAllEnableVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserAllEnableVersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AutoJTWcfService" minOccurs="0" name="composite" nillable="true" type="q3:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AutoJTWcfService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q4:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentClientLoginStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientInfos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="openID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentClientLoginStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCurrentClientLoginStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentMachineLoginCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientInfos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentMachineLoginCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCurrentMachineLoginCodeResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="openid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoginPopular">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoginPopularResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLoginPopularResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryVersionDesc4ModuleID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="moduleID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryVersionDesc4ModuleIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryVersionDesc4ModuleIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateAuth">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="txtCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateAuthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateAuthResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExitLoginMethod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExitLoginMethodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExitLoginMethodResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTableFromDatabase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataBaseTable" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTableFromDatabaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTableFromDatabaseResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFromDatabase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataBaseTable" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFromDatabaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserFromDatabaseResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="resultstatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resultstatus2" type="xs:boolean" />
        <xs:element minOccurs="0" name="resultstatus3" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFromDatabase2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userlnfos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientVersion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataBaseTable" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFromDatabase2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserFromDatabase2Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="resultstatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resultstatus2" type="xs:boolean" />
        <xs:element minOccurs="0" name="resultstatus3" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFromDatabase_wechat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userlnfos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientVersion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFromDatabase_wechatResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFromDatabase_wechat2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userlnfos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientVersion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="engineeringSoftInfos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFromDatabase_wechat2Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteItemData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataBaseTable" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="item" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteItemDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteItemDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteItemData2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataBaseTable" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="item" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteItemData2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteItemData2Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertByDataTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataTable" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertByDataTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertByDataTableResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportTableToDB1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dtImp" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="SqlTableName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportTableToDB1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportTableToDB1Result" type="xs:boolean" />
        <xs:element minOccurs="0" name="err" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="info" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportTableToDB2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dtImp" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="SqlTableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currentTime" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportTableToDB2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportTableToDB2Result" type="xs:boolean" />
        <xs:element minOccurs="0" name="err" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="info" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSqlDataReader1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SqlString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSqlDataReader1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetSqlDataReader1Result" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRowsCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SqlString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRowsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRowsCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryUsernameFidle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryUsernameFidleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryUsernameFidleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateAccountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWchatNiceName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWchatNiceNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateWchatNiceNameResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="m_DataSet" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWchatNiceName_2Net6">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWchatNiceName_2Net6Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateWchatNiceName_2Net6Result" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="m_validity_status" type="xs:boolean" />
        <xs:element minOccurs="0" name="remarkName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isJT" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificationCodeValid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Verification_code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificationCodeValidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerificationCodeValidResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendVerifyCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strToMailbox" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendVerifyCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendVerifyCodeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutoJTTecnomatixVersionCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userInfos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutoJTTecnomatixVersionCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAutoJTTecnomatixVersionCodeResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="versionAndContents" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FORCEDUPDATE" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutoJTTecnomatixVersionCode2">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutoJTTecnomatixVersionCode2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAutoJTTecnomatixVersionCode2Result" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="versionAndContents" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FORCEDUPDATE" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutoJTTecnomatixVersionCode3">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutoJTTecnomatixVersionCode3Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAutoJTTecnomatixVersionCode3Result" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="versionAndContents" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FORCEDUPDATE" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="downloadLink" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="downloadLink2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutoJTTasksVersionCode">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutoJTTasksVersionCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAutoJTTasksVersionCodeResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="versionAndContents" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FORCEDUPDATE" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="downloadLink" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutoJTTecnomatixVersionCodeExternal">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutoJTTecnomatixVersionCodeExternalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAutoJTTecnomatixVersionCodeExternalResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="versionAndContents" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FORCEDUPDATE" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutoJTTecnomatixVersionCodeExternal3">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutoJTTecnomatixVersionCodeExternal3Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAutoJTTecnomatixVersionCodeExternal3Result" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="versionAndContents" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FORCEDUPDATE" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="downloadLink" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="downloadLink2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTx_Project_MCM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tbName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTx_Project_MCMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateTx_Project_MCMResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTx_Project_MCM_new">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tbName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTx_Project_MCM_newResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateTx_Project_MCM_newResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="result" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddinProject_Model2DB_MCM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="readDataTable" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="currentTime" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddinProject_Model2DB_MCMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddinProject_Model2DB_MCMResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="err" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="info" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddinProject_Model2DB_MCM_new">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PROJECT" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MODEL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="REGION" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OPERATOR" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tbname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddinProject_Model2DB_MCM_newResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddinProject_Model2DB_MCM_newResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="infos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTx_Project_Model_Lib_MCM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tbName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTx_Project_Model_Lib_MCMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateTx_Project_Model_Lib_MCMResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Create_MCM_LibraryTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tbName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Create_MCM_LibraryTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Create_MCM_LibraryTableResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="infos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BulkInsertMCMData_MCM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataTable1" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="tbName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BulkInsertMCMData_MCMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BulkInsertMCMData_MCMResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="infos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="irows" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddinTx_Project_Model_Lib_MCM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="readDataTable" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="SqlTableName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddinTx_Project_Model_Lib_MCMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddinTx_Project_Model_Lib_MCMResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="err" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="info" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProject_1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProject_1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="infos_1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="infos_2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="infos_3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="icount_1" type="xs:int" />
        <xs:element minOccurs="0" name="icount_2" type="xs:int" />
        <xs:element minOccurs="0" name="icount_3" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTx_Project_Model_Users_MCM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tbName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTx_Project_Model_Users_MCMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateTx_Project_Model_Users_MCMResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddinTx_Project_Model_Users_MCM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="readDataTable" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="SqlTableName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddinTx_Project_Model_Users_MCMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddinTx_Project_Model_Users_MCMResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="err" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="info" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAndBulkInsertUserMCMData_MCM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataTable1" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="tbName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAndBulkInsertUserMCMData_MCMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateAndBulkInsertUserMCMData_MCMResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="infos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="irows" type="xs:int" />
        <xs:element minOccurs="0" name="icount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmptyTable_1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmptyTable_1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmptyTable_1Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmptyTable_new">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmptyTable_newResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmptyTable_newResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRowsCount_2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tbName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRowsCount_2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRowsCount_2Result" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryJT_username">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryJT_usernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="QueryJT_usernameResult" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tx_Refresh_MCM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="project" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tx_Refresh_MCMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataTable_LIB" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="result_lib" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="dataTable_users_MCMS" nillable="true" type="q7:ArrayOfDataTable" />
        <xs:element minOccurs="0" name="result_user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tx_Refresh_MCM_new1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tx_Refresh_MCM_new1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataTable_Library" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="dataTable_AllUsers" nillable="true" type="q8:ArrayOfDataTable" />
        <xs:element minOccurs="0" name="NickNameOpenidDic" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="infos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Query_ProjectModleExists_MCM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="project_1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="model_1" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Query_ProjectModleExists_MCMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Query_ProjectModleExists_MCMResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Query_ProExists_uuid_MCM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="openid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Query_ProExists_uuid_MCMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Query_ProExists_uuid_MCMResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="status" type="xs:int" />
        <xs:element minOccurs="0" name="infos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Query_AllPro4OpenID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="openID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Query_AllPro4OpenIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Query_AllPro4OpenIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="infos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Query_UsersTakeProjectsOpenID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="openID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Query_UsersTakeProjectsOpenIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Query_UsersTakeProjectsOpenIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="infos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Query_UserNameByOpenID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="openID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Query_UserNameByOpenIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Query_UserNameByOpenIDResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="infos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Module_usage_statistics">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modelInfos" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Module_usage_statisticsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="exInfos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Module_usage_statistics_21">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modelInfos" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Module_usage_statistics_21Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="exInfos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Module_usage_statistics2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="modelInfos" nillable="true" type="q9:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Module_usage_statistics2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="exInfos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcWD_Rotation_4">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="txTrans_new_world_num" nillable="true" type="q10:ArrayOfdouble" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="txTrans_new_apper_word_Inverse_num" nillable="true" type="q11:ArrayOfdouble" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="txTrans_old_apper_symmetry_num" nillable="true" type="q12:ArrayOfdouble" />
        <xs:element minOccurs="0" name="istxPartAppearance_newNOTNull" type="xs:boolean" />
        <xs:element minOccurs="0" name="isSymmetryWeld1" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcWD_Rotation_4Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CalcWD_Rotation_4Result" nillable="true" type="q13:ArrayOfdouble" />
        <xs:element minOccurs="0" name="exInfos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcWD_Rotation_5">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="txTrans_new_world_num" nillable="true" type="q14:ArrayOfdouble" />
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="txTrans_new_apper_word_Inverse_num" nillable="true" type="q15:ArrayOfdouble" />
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="txTrans_old_apper_symmetry_num" nillable="true" type="q16:ArrayOfdouble" />
        <xs:element minOccurs="0" name="istxPartAppearance_newNOTNull" type="xs:boolean" />
        <xs:element minOccurs="0" name="isSymmetryWeld1" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcWD_Rotation_5Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CalcWD_Rotation_5Result" nillable="true" type="q17:ArrayOfdouble" />
        <xs:element minOccurs="0" name="exInfos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcVIA_Rotation_4">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="txTrans_old_VIA_OLD_apper_num" nillable="true" type="q18:ArrayOfdouble" />
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="txTrans_old_OLD_apper_world_num" nillable="true" type="q19:ArrayOfdouble" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcVIA_Rotation_4Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CalcVIA_Rotation_4Result" nillable="true" type="q20:ArrayOfdouble" />
        <xs:element minOccurs="0" name="exInfos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Calc_RPY2Matrix_Transform">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataTable1" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Calc_RPY2Matrix_TransformResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Calc_RPY2Matrix_TransformResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="exInfos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Calc_RPY2Matrix_Transform2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataTable1" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Calc_RPY2Matrix_Transform2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Calc_RPY2Matrix_Transform2Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="exInfos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcNoteQuadrant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataTable1" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcNoteQuadrantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalcNoteQuadrantResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="minXZ" nillable="true" type="q21:ArrayOfanyType" />
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="maxXZ" nillable="true" type="q22:ArrayOfanyType" />
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="centerXZ" nillable="true" type="q23:ArrayOfanyType" />
        <xs:element minOccurs="0" name="exInfos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcRealBoxLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="txFrameCenter" nillable="true" type="q24:ArrayOfdouble" />
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="leftLower" nillable="true" type="q25:ArrayOfdouble" />
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="rightUpper" nillable="true" type="q26:ArrayOfdouble" />
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="txVector_ora" nillable="true" type="q27:ArrayOfdouble" />
        <xs:element minOccurs="0" name="isCalcWordLoc" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcRealBoxLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalcRealBoxLocationResult" type="xs:boolean" />
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="bottomLeftLower" nillable="true" type="q28:ArrayOfdouble" />
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="bottomLeftUpper" nillable="true" type="q29:ArrayOfdouble" />
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="bottomRightLower" nillable="true" type="q30:ArrayOfdouble" />
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="bottomRightUpper" nillable="true" type="q31:ArrayOfdouble" />
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="topLeftLower" nillable="true" type="q32:ArrayOfdouble" />
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="topLeftUpper" nillable="true" type="q33:ArrayOfdouble" />
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="topRightLower" nillable="true" type="q34:ArrayOfdouble" />
        <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="topRightUpper" nillable="true" type="q35:ArrayOfdouble" />
        <xs:element xmlns:q36="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="pp0" nillable="true" type="q36:ArrayOfdouble" />
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="p1_word" nillable="true" type="q37:ArrayOfdouble" />
        <xs:element xmlns:q38="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="p2_word" nillable="true" type="q38:ArrayOfdouble" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiCalcRealBoxLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="txFrameCenter_1" nillable="true" type="q39:ArrayOfdouble" />
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="leftLower_1" nillable="true" type="q40:ArrayOfdouble" />
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="rightUpper_1" nillable="true" type="q41:ArrayOfdouble" />
        <xs:element xmlns:q42="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="txVector_ora_1" nillable="true" type="q42:ArrayOfdouble" />
        <xs:element xmlns:q43="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="txFrameCenter_2" nillable="true" type="q43:ArrayOfdouble" />
        <xs:element xmlns:q44="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="leftLower_2" nillable="true" type="q44:ArrayOfdouble" />
        <xs:element xmlns:q45="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="rightUpper_2" nillable="true" type="q45:ArrayOfdouble" />
        <xs:element xmlns:q46="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="txVector_ora_2" nillable="true" type="q46:ArrayOfdouble" />
        <xs:element minOccurs="0" name="isCalcWordLoc_1" type="xs:boolean" />
        <xs:element minOccurs="0" name="isCalcWordLoc_2" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiCalcRealBoxLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MultiCalcRealBoxLocationResult" type="xs:boolean" />
        <xs:element xmlns:q47="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="bottomLeftLower_1" nillable="true" type="q47:ArrayOfdouble" />
        <xs:element xmlns:q48="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="bottomLeftUpper_1" nillable="true" type="q48:ArrayOfdouble" />
        <xs:element xmlns:q49="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="bottomRightLower_1" nillable="true" type="q49:ArrayOfdouble" />
        <xs:element xmlns:q50="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="bottomRightUpper_1" nillable="true" type="q50:ArrayOfdouble" />
        <xs:element xmlns:q51="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="topLeftLower_1" nillable="true" type="q51:ArrayOfdouble" />
        <xs:element xmlns:q52="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="topLeftUpper_1" nillable="true" type="q52:ArrayOfdouble" />
        <xs:element xmlns:q53="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="topRightLower_1" nillable="true" type="q53:ArrayOfdouble" />
        <xs:element xmlns:q54="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="topRightUpper_1" nillable="true" type="q54:ArrayOfdouble" />
        <xs:element xmlns:q55="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="pp0_1" nillable="true" type="q55:ArrayOfdouble" />
        <xs:element xmlns:q56="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="p1_word_1" nillable="true" type="q56:ArrayOfdouble" />
        <xs:element xmlns:q57="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="p2_word_1" nillable="true" type="q57:ArrayOfdouble" />
        <xs:element xmlns:q58="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="bottomLeftLower_2" nillable="true" type="q58:ArrayOfdouble" />
        <xs:element xmlns:q59="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="bottomLeftUpper_2" nillable="true" type="q59:ArrayOfdouble" />
        <xs:element xmlns:q60="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="bottomRightLower_2" nillable="true" type="q60:ArrayOfdouble" />
        <xs:element xmlns:q61="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="bottomRightUpper_2" nillable="true" type="q61:ArrayOfdouble" />
        <xs:element xmlns:q62="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="topLeftLower_2" nillable="true" type="q62:ArrayOfdouble" />
        <xs:element xmlns:q63="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="topLeftUpper_2" nillable="true" type="q63:ArrayOfdouble" />
        <xs:element xmlns:q64="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="topRightLower_2" nillable="true" type="q64:ArrayOfdouble" />
        <xs:element xmlns:q65="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="topRightUpper_2" nillable="true" type="q65:ArrayOfdouble" />
        <xs:element xmlns:q66="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="pp0_2" nillable="true" type="q66:ArrayOfdouble" />
        <xs:element xmlns:q67="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="p1_word_2" nillable="true" type="q67:ArrayOfdouble" />
        <xs:element xmlns:q68="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="p2_word_2" nillable="true" type="q68:ArrayOfdouble" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReCalcRotaFrme">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="p1_word" nillable="true" type="q69:ArrayOfdouble" />
        <xs:element xmlns:q70="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="p2_word" nillable="true" type="q70:ArrayOfdouble" />
        <xs:element xmlns:q71="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="p11_word" nillable="true" type="q71:ArrayOfdouble" />
        <xs:element xmlns:q72="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="p21_word" nillable="true" type="q72:ArrayOfdouble" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReCalcRotaFrmeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ReCalcRotaFrmeResult" nillable="true" type="q73:ArrayOfdouble" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutoJTVersionCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userInfos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutoJTVersionCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAutoJTVersionCodeResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="versionAndContents" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FORCEDUPDATE" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutoJTVersionCode2">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutoJTVersionCode2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAutoJTVersionCode2Result" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="versionAndContents" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FORCEDUPDATE" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutoJTVersionCodeExternal3">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutoJTVersionCodeExternal3Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAutoJTVersionCodeExternal3Result" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="versionAndContents" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FORCEDUPDATE" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="downloadLink" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>